
.site-header {
  background: $brand-secondary;
  border-bottom: 1px solid #50504e;

  .dropdown-menu{
    background: #fe575f;
  }
  .dropdown-item:hover{
    background: #242424;
  }
}
.site-header .add-listing {
  border: 1px solid #f3f3f3;
  padding: 4px 9px;
  background: 0;
  color: #E7E7E7;
  border-radius: 2px;
  transform: translateY(3px);
}
.site-header .user-icon {
  color: #fdfafa;
  font-size: 19px;
  margin-left: 16px;
}
.site-header .navbar .navbar-nav li a {
  padding-right: 35px;
  color: #FCFCFC;
}


