$primary: #fe575f;
$brand-primary:$primary;
$brand-secondary:#242422;
$text-color-normal: #8d8d8d;
$text-color-black: black;
$input-border-radius: 0;
$h4-font-size: 1.25rem;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$btn-primary-color: $primary;
$slick-arrow-color: $primary;
$btn-review:#B4C52C!important;
$font-path:'fonts/';
$text-label:#6F6F6F;
.form-button{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 30px 0;
  button{
    border-radius: 3px!important;
    margin-right:12px ;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 28px;
    background: #EEEEEE;
  }
  .btn-primary{
    background:#FE575F;
  }
}

.btn{
  border-radius: 0!important;
}
input,select.form-control{
  height: calc(2.65rem + 2px) !important;
}
.form-control{
  color: $text-color-normal !important;
}
