@import "~bootstrap/scss/bootstrap.scss";
@import "headers.scss";

$text-color-normal: #6f6f6f;
$text-color-black: black;

p {
  color: $text-color-normal;
  &.dark {
    color: $text-color-black;
  }
}
