@import "variable";
@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
//@import "icons/_flaticon.scss";


@import "headers.scss";
@import "footer.scss";

p {
  color: $text-color-normal;
  &.dark {
    color: $text-color-black;
  }
}
.text-norm{color: $text-color-normal;}
.centering{
  background: $brand-secondary;
  color: white;
  display: flex;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    text-transform: uppercase;
    font-size: 28px;
  }
  p{
    font-size: 12px;
  }
}
.text-own-center{
  text-align: center;
  margin: 0 auto;
}

.rounded-icon{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  @extend .rounded-circle;
  padding: 7px 11px;
  color: white;
  border-radius: 50% !important;
  background: $brand-primary;
  height: 31px;
  width: 31px;
}

.chat-text{
  background: $primary;
  padding: 15px;
  color: white;
  border-radius: 0 20px 20px 20px;
}
.review-input{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-circle{
  height: 40px;
  width: 40px;
  border-radius:50%!important;
  position: absolute;
  right: 25px;
}

.view-more{
  margin: 20px 15px;
  color: $primary;
}

.link-hover-primary{
  color: $text-color-normal;
  &:hover{
    color: $primary;
  }
}